@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="pd-container" style="max-width:900px; margin-top:40px;">

    <h1 style="margin-bottom:10px;">Регистрация</h1>
    <h4 style="margin-bottom:20px; color:rgba(255,255,255,.7);">
        Създай нов акаунт
    </h4>

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

        <div class="mb-3">
            <input asp-for="Input.Email"
                   class="form-control"
                   placeholder="Имейл" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input asp-for="Input.Password"
                   class="form-control"
                   placeholder="Парола" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input asp-for="Input.ConfirmPassword"
                   class="form-control"
                   placeholder="Потвърди парола" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="pd-btn pd-btn-primary" style="width:100%;">
            Регистрация
        </button>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}